* {
    box-sizing: border-box;
    text-align: center;
}

.app-wrapper{
    height: 100vh;
}

.navbar-wrapper{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
form p {
    color: firebrick;
}